sudo: required
dist: trusty
language: node_js

services:
  - docker
cache:
  directories:
    - build/
    - node_modules/


before_install:
  - export AWS_DEFAULT_REGION=us-east-1
  - mkdir output/ || true
  - aws s3 sync s3://buildjobs/$TRAVIS_BUILD_NUMBER output/
  - mkdir build_docs/ || true
  - aws s3 sync s3://mmabackupdocs/MMA10 build_docs/
  - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
  - docker run --rm --privileged multiarch/qemu-user-static:register --reset
  - docker pull mmacompat/mathematica || true


addons:
  apt:
    packages:
      - awscli
      - docker-ce
      - parallel
  
 
jobs:
  include:
    - stage: prepare cache
      script:
        - make docker
        - make mathematica-self-tests
        - docker push mmacompat/mathematica
    - stage: generate tests
      script: PORTION_COUNT=5 PORTION_INDEX=1 make generate-compat-tests
    - script: PORTION_COUNT=5 PORTION_INDEX=2 make generate-compat-tests
    - script: PORTION_COUNT=5 PORTION_INDEX=3 make generate-compat-tests
    - script: PORTION_COUNT=5 PORTION_INDEX=4 make generate-compat-tests
    - script: PORTION_COUNT=5 PORTION_INDEX=5 make generate-compat-tests
    - stage: run tests in Mathematica 10
      script: PORTION_COUNT=5 PORTION_INDEX=1 make run-compat-tests
    - script: PORTION_COUNT=5 PORTION_INDEX=2 make run-compat-tests
    - script: PORTION_COUNT=5 PORTION_INDEX=3 make run-compat-tests
    - script: PORTION_COUNT=5 PORTION_INDEX=4 make run-compat-tests
    - script: PORTION_COUNT=5 PORTION_INDEX=5 make run-compat-tests    
    - stage: deploy
      script: make website
      after_success:
        - aws s3 rm --recursive s3://buildjobs/$TRAVIS_BUILD_NUMBER # clean up after ourselves
      deploy: &pages
        provider: pages
        skip-cleanup: true
        github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
        keep-history: true
        on:
          branch: master
        local-dir: output/


after_success:
  - aws s3 sync output/ s3://buildjobs/$TRAVIS_BUILD_NUMBER

